/* font-family: "Raleway", sans-serif;
font-family: "Roboto", sans-serif; */
body {
font-family: "Roboto", sans-serif;
color: #434455;  
background-color: #ffffff;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* reset */

ul, ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}
a{
    text-decoration: none;
}
img {
  display: block;
}
/* common */
.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}
/* header */

.page-header {
  border-bottom: 1px solid #e7e9fc;
  }
.header-container {
    display: flex;
    align-items: center;
  }
.header-nav {
   display: flex;
   align-items: center;
  }

.logo-header-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}

.header-logo-part{
color:#2e2f42;  
}

.header-logo {
  padding: 24px 0;
  margin-right: 76px;
}

.footer-logo .logo-part {
  color: #f4f4fd; 
}
.nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav-link {
  display: block;
  padding: 24px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.contacts {
  font-style: normal;
  margin-left: auto;
  gap: 40px;
}
.contacts-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.contacts-link {
  display: block;
  padding: 24px 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}

 
.section-hero {
background-color: #2e2f42;
padding-top: 188px;
padding-bottom: 188px;
}
.hero-container{
  
}
.hero-title {
font-size: 56px;
line-height: 1.07;
letter-spacing: 0.02em;
color: #ffffff;
text-align: center;
max-width: 496px;
margin: 0 auto 48px auto;
}

.button {
    cursor: pointer;
    background-color: #4D5AE5;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;  
    margin: 0 auto;
}
 .button:hover,
 .button:focus{
    background-color: #404BBF;
 }
 .section-adventures{
  padding-top: 120px;
  padding-bottom: 120px;
  }
 .adventures-container{
  
 }
.adventures-title{
font-weight: 500;
font-size: 20px ;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
}
.visually-hidden {
 position: absolute;
 width: 1px;
 height: 1px;
 margin: -1px;
 border: 0;
 padding: 0;
 white-space: nowrap;
 clip-path: inset(100%);
 clip: rect(0 0 0 0);
 overflow: hidden;
}

.adventures-item-title{
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
}  
.adventures-item-description{
 font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

.adventures-list{
  display: flex;
  gap: 24px;
}

.adventures-item{
width: calc((100% - 72px) / 4);
}

.adventures-item-title{
  margin-bottom: 8px;
}
.section-team{
background-color: #f4f4fd;
padding-top: 120px;
padding-bottom: 120px;
}
.team-title{
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
text-transform: capitalize;
margin-bottom: 72px;
}

.team-list {
display: flex;
gap: 24px;  
}
.team-item-title{
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
text-align: center;  
margin-bottom: 8px
}
.team-item{
background-color: #FFFFFF   
width: calc((100% - 72px) / 4);
border-radius: 0px 0px 4px 4px; 
}
.title-description-container{
padding-top: 32px;
padding-bottom: 32px;

}
.team-item-descriprion{
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
text-align: center;
}
.section-portfolio{
 padding-top: 120px; 
 padding-bottom: 120px; 
}
.portfolio-title{
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
text-transform: capitalize;
margin-bottom: 72px;
}
.portfolio-list{
  display: flex;
  flex-wrap: wrap; 
  column-gap: 24px;
  row-gap: 48px;
}
.portfolio-item{
  width: calc((100% - 48px) / 3);

}
.portfolio-item-title{
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
margin-bottom: 8px 
}

.portfolio-item-description{
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}
.portfolio-item-description-container{
   padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;  
}
.footer-container{

}
.page-footer{
  background-color: #2e2f42;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding-top: 100px;   
  padding-bottom: 100px;
}
.logo-footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  text-transform: uppercase;
  color: #4d5ae5;
  letter-spacing: 0.03em;
  display: inline-block;
  margin-bottom: 16px;
}
.logo-part{
color: #f4f4fd;  
}
.footer-description{
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #f4f4fd;
max-width: 264px;
}